* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 90%;
}

.title {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.gallery-wrapper {
  position: relative;
  padding: 24px;
  display: flex;
  align-items: center;
}

button {
  position: absolute;
  border: none;
  opacity: 0.5;
  z-index: 10;
  border-radius: 5px;
  width: 100px;
}

button:hover {
  opacity: 1;
  transition: all 300ms ease-in-out;
}

button img {
  width: 50px;
  height: 50px;
}

.arrow-left {
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  background: linear-gradient(to left, transparent 0%, black 200%);
}

.arrow-right {
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  background: linear-gradient(to right, transparent 0%, black 200%);
}

.gallery {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 30px;
  padding: 24px;
  /* scroll-snap-type: x mandatory; OBS: how to center a div at a container with css */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gallery::-webkit-scrollbar {
  display: none;
}

.item {
  /* border-radius: 16px; */
  opacity: 0.4;
}

.current-item {
  /* scroll-snap-align: center; OBS: how to center a div at a container with css  */
  opacity: 1;
}

.item img {
  border-radius: 16px;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding-inline: 40px;
  padding-top: 26px;
}

.headline h2 {
  margin-bottom: 8px;
}
